/* SECCIÓN CONTACTO */
html{
  scroll-behavior: smooth;
}
.portada{
  /* imagen de fondo (CAMBIAR) */
  width: 100%;
  height: 100vh;
  background-image: url(../assets/images/patiohd.jpg);
  background-size: cover;
  background-position: center;
  /* contenido dentro */
  display: flex;
  justify-content: center;
  align-items: center;
}
.titulo {
  text-align: center;
  padding: 40px;
  margin-top: 0px;
  color: #f5f7fa; 
}
.titulo button{
  background: #0A3D62;
  background: linear-gradient(180deg,rgba(10, 61, 98, 1) 2%,
  rgba(10, 61, 98, 0.99) 11%, rgba(20, 77, 131, 0.99) 41%,
  rgba(54, 135, 249, 0.81) 100%);
  color: #f5f7fa;
  border: none;
  border-radius: 50px;
  padding: 16px 36px;
  cursor: pointer;
}
.titulo button:hover {
  background: rgb(243, 213, 156);
  color: #0A3D62;
  scale: 1.1;
}

.contenedor .card {
  width: 350px;
  padding: 20px;
}

/* Imágenes y Mapas con dimensiones originales */
.img_map {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

iframe {
  width: 100%;
  height: 200px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
}

.info {
  text-align: center;
  padding: 40px;
}

/*CONTACTO*/
.form{
  width: 100%;
  height: 100vh;
  max-height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
/* redes sociales del centro */
.form .redes{
  margin-left: 8%;
}
.redes a{
  background-color: #f5f7fa;
}
.redes a:hover{
  background-color: #f5f7fa;
  scale: 1.1;
}
.redes img{
  width: 40px;
  height: 40px;
}
/* formulario  */
.container_formulario{
  display: flex;
  justify-content: center;
  padding: 36px;
  background: #0A3D62;
  background: linear-gradient(180deg,rgba(10, 61, 98, 1) 2%,
   rgba(10, 61, 98, 0.99) 11%, rgba(20, 77, 131, 0.99) 41%,
  rgba(54, 135, 249, 0.81) 100%);
  color: aliceblue;
  border-radius: 14% 0% 10% 0% / 14% 0% 10% 0% 
}

